$lg-screen:  1600;
$med-screen: 768;
$sm-screen:  480;

$card-height: 442px;
$card-width: 400px;

@mixin forLargeScreens($media) {
	@media (min-width: $media/16+em) { @content; }
}

@font-face {
	font-family: "gotham-med";
	src: url('fonts/gotham-med/gotham-webfont.eot');
	src: url('fonts/gotham-med/gotham-webfont.woff2') format('woff2'),
		 url('fonts/gotham-med/gotham-webfont.woff') format('woff'),
		 url('fonts/gotham-med/gotham-webfont.ttf') format('ttf'),
		 url('fonts/gotham-med/gotham-webfont.svg') format('svg');
}

@font-face {
	font-family: "gotham-lt";
	src: url('fonts/gotham-lt/gothmlig-webfont.eot');
	src: url('fonts/gotham-lt/gothmlig-webfont.woff2') format('woff2'),
		 url('fonts/gotham-lt/gothmlig-webfont.woff') format('woff'),
		 url('fonts/gotham-lt/gothmlig-webfont.ttf') format('ttf'),
		 url('fonts/gotham-lt/gothmlig-webfont.svg') format('svg');
}

* {

}

h1 {
	font-family: gotham-lt;

}

body {
	color: black;
}

.app-base {
	align-content: flex-end;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;	
	margin: 2% auto;

	.skin-button {
		font-size: 16pt;
		padding: 1rem 1rem;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			cursor: pointer;
		}

		.skin-button-light {
			color: #DBDBDB;
		}

		.skin-button-dark {
			color: #50158B;
		}
	}
}

.dark {
	background-color: #1B072E;
	color: white;
	box-shadow: none;
}

.app-loading {
	text-align: center;
	margin: 20% auto;
}
