@import './base.scss';

.card-base {
	background: white;
	box-shadow: 1px 1px 3px rgba(63, 63, 63, 0.5);  // h v blur spread color
	display: inline-block;
	margin: 0.5rem 0.5rem;
	max-height: $card-height;
	width: $card-width;

	.card-header {
		padding: 1rem 1rem;
		position: relative;

		.photo {
			border-radius: 50%;
			height: 70px;
			width: 70px;
		}
		.nametag {
			line-height: 15px;
			margin-bottom: -10px;
		}

		.card-rank {
			color: #7F7F7F;
			float: right;
			font-family: gotham-lt;
			font-size: 2rem;
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}
}

.photo-light {
	border: 1px solid #7F7F7F;
}

.photo-dark {
	border: none;
}

