// breaks at 1575px
@import './base.scss';

.loading {
	text-align: center;
	margin: 0 auto;
}

.row-base {
	background-color: #963CBD;
	color: white;
	font-family: 'gotham-med', sans-serif;
	font-size: .9rem;
	max-width: $card-width;
	overflow-y: hidden;
}

.row-closed {
	display: flex;
	list-style-type: none;
	margin: 2px 0;
	opacity: 0;
	transition: opacity 200ms;
	&:hover {
		background-image: linear-gradient( to top, rgba(0, 0, 0, 0.30) , rgba(0, 0, 0, 0.30) 15%, transparent 15% );
	}
	
	> li.co-name {
		flex: 4;
		margin-left: -1rem;
		padding: 1rem 0;
		white-space: nowrap;
		overflow-x: hidden;
	}

	> ul.row-data {
		display: flex;
		flex: 5;
		list-style-type: none;
		padding: 1rem 0;

		> li.row-data-bit {
			flex: 1;
			text-align: center;
	
			&:nth-child(2) {
				flex: 2;
			}

			&:last-child {
				padding-right: 1rem;
			}
		}
	}
}


.safety {
	background-color: #FF6900;
}

.blank {
	background-color: white;
	color: #7F7F7F;
}

.row-hover { 
	background-image: linear-gradient( to top, rgba(0, 0, 0, 0.30) , rgba(0, 0, 0, 0.30) 15%, transparent 15% );
}

.hide {
	display: none;
	opacity: 0;
}

.visible {
	opacity: 1;
}

.row-open {
	max-width: $card-width;
	padding: 1rem 1.25rem;
}

.expand-appear {
  max-height: 45px;
}

.expand-appear.expand-appear-active {
  max-height: $card-height;
  transition: max-height .5s ease-in;
}

.expand-enter {
  max-height: 0;
}

.expand-enter.expand-enter-active {
  max-height: $card-height;
  transition: max-height .5s ease-in;
}

.expand-leave {
  max-height: $card-height;
}

.expand-leave.expand-leave-active {
  max-height: 0;
  transition: max-height .5s ease-in;
}

@keyframes alert {
	0%, 100%{opacity: 1;}
	50%		{opacity: 0;}
}

.alert {
	animation-name: alert;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.date-new {
  animation: date-keyframes 0.5s;
}

@keyframes date-keyframes {
  from {opacity: 0.01}
  to {opacity: 1}
}
